---
import FormJob from '../../components/FormJob.astro';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE_JOB, SITE_DESCRIPTION_JOB } from '../../consts';
import Footer from '../../components/Footer.astro';
import HeaderBlog from '../../components/HeaderBlog.astro';

import { getCollection } from 'astro:content';

const { slug } = Astro.params;
const posts = await getCollection('blog');
const matchedPost = posts.find((post) => post.data.slug === slug);

if (!matchedPost) {
  throw new Error(`404: Post with slug "${slug}" not found`);
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE_JOB} description={SITE_DESCRIPTION_JOB} />
    <meta name="robots" content="noindex" />
  </head>

  <body>
    <HeaderBlog />
    <FormJob slug={slug} />
    <Footer />
  </body>
</html>

<!-- ✅ FIX: Gunakan post.data.slug -->
<script type="ts">
  import { getCollection } from 'astro:content';

  export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
      params: { slug: post.data.slug },
    }));
  }
</script>
