---
import FormJob from '../../components/FormJob.astro';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE_JOB, SITE_DESCRIPTION_JOB } from '../../consts';
import Footer from '../../components/Footer.astro';
import HeaderBlog from '../../components/HeaderBlog.astro';

import { getCollection } from 'astro:content';

const { slug } = Astro.params;
const posts = await getCollection('blog');
const matchedPost = posts.find((post) => post.data.slug === slug);

// Jika tidak ada, redirect ke halaman 404
if (!matchedPost) {
  return Astro.redirect('/404');
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE_JOB} description={SITE_DESCRIPTION_JOB} />
    <meta name="robots" content="noindex" />
  </head>

  <body>
    <HeaderBlog />
    <FormJob slug={slug} />
    <Footer />
  </body>
</html>

<!-- getStaticPaths with TypeScript support -->
<script type="ts">
  import type { AstroConfig, Params } from 'astro';
  import type { CollectionEntry } from 'astro:content';
  import { getCollection } from 'astro:content';

  export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post: CollectionEntry<'blog'>) => ({
      params: { slug: post.slug },
    }));
  }
</script>
