name: Deploy Astro SSG to Server (Fast)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm ci

    - name: Build Astro project
      run: npm run build

    - name: Upload dist to server with rsync (delete old)
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key.pem
        chmod 600 private_key.pem

        rsync -avz --delete \
          --chmod=D775,F664 \
          -e "ssh -i private_key.pem -o StrictHostKeyChecking=no -p 22" \
          dist/ kangdev@qualita-indonesia.com:/home/kangdev/astro-sites/qualita-indonesia/dist

    - name: Fix permission & reload nginx
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: qualita-indonesia.com
        username: kangdev
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          # set group supaya nginx bisa baca
          sudo chgrp -R www-data /home/kangdev/astro-sites/qualita-indonesia/dist
          sudo chmod -R 775 /home/kangdev/astro-sites/qualita-indonesia/dist

          # optional tapi bagus: biar file baru ikut group www-data
          sudo find /home/kangdev/astro-sites/qualita-indonesia/dist -type d -exec chmod g+s {} \;

          # reload nginx di container
          sudo docker exec astro-qualita nginx -s reload
